@*// ---------------------------------------------------------------------------------- //
    // --------------------------- YOUR PURCHASES VIEW -------------------------------- //
    // -------------------------------------------------------------------------------- //

    /* -------------------------------------------------------------------------------  */
    /* --------------------------------Team3 - Group2 -------------------------------  */
    
    /* -------------------------------Date: 10-10-2021 -------------------------------  */
    /* -------------------Purpose: THREADED PROJECT OF PROJ-009-004 ------------------  */
    /* -------------------------------------------------------------------------------  */

    // -------------------------------------------------------------------------------- //*@



@model CartViewModel

@{ ViewData["Title"] = "Checkout"; }

@*// -------------------- Heading for Checkout page ------------------------------ //*@

<h1>Checkout</h1>

@*// -------------------- Heading for Purchase page ------------------------------ //*@

<h1>Your Purchases</h1>


@*// -------------------- Box for Displaying Sub-Total ------------------------------ //*@

<form asp-action="Clear" method="post">
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <div class="row">

                <div class="col">
                    Subtotal: @Model.Subtotal.ToString("c")
                </div>
                
                <div class="col">
                    <div class="float-right">

                        @*// -------------------- Button for Checkout -------------------------------- //*@
                        <a asp-action="Checkout" class="btn btn-primary">Checkout</a>

                        @*// -------------------- Button for Clear Cart ------------------------------ //*@
                        <button type="submit" class="btn btn-primary">Clear Cart</button>
                       
                        @*// -------------- Button for Back to Shopping ------------------------------ //*@
                        <a asp-action="Index" asp-controller="Package" asp-all-route-data="@Model.PackageGridRoute">Back to Shopping</a>

                    </div>
                </div>

            </div>
        </li>
    </ul>
</form>

@*// -------------------- Table for Purchase Items ------------------------------ //*@

<form asp-action="Remove" method="post">
    <table class="table">

        @*// ---------------- Table Header for Purchase Items ------------------------- //*@

        <thead class="thead-dark">
            <tr>
                <th>Package ID</th>
                <th>Package Name</th>
                <th>Price</th>
                <th>Number of Travellers</th>
                <th>Sub-Total</th>
                <th></th>
            </tr>
        </thead>

        @*// -------------------- Table Body for Purhase Items ------------------------------ //*@

        <tbody>

            @*// ---------------- Using Data from Cart Item Model -------------------------- //*@

            @foreach (CartItem item in Model.List)
            {
                <tr>

                    @*// ---------------- Package ID information -------------------------- //*@

                    <td>
                        <a asp-action="Details" asp-controller="Package"
                           asp-route-id="@item.Package.PackageId"
                           asp-route-slug="@item.Package.PkgName.Slug()">
                            @item.Package.PackageId
                        </a>
                    </td>

                    @*// ---------------- Package Name information -------------------------- //*@

                    <td>
                        <p>
                            <a asp-action="Details" asp-controller="Package"
                               asp-route-id="@item.Package.PackageId"
                               asp-route-slug="@item.Package.PkgName.Slug()">
                                @item.Package.PkgName
                            </a>
                        </p>
                    </td>
                    
                    <td>@item.Package.PkgBasePrice.ToString("c")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Subtotal.ToString("c")</td>
                    
                    <td>
                        <div class="float-right">

                            @*// ---------------------- Button for Edit ---------------------------------- //*@

                            <a asp-action="Edit" asp-controller="Checkout"
                               asp-route-id="@item.Package.PackageId"
                               asp-route-slug="@item.Package.PkgName.Slug()"
                               class="btn btn-primary">Edit</a>

                            @*// ---------------------- Button for Remove ---------------------------------- //*@

                            <button type="submit" name="id" value="@item.Package.PackageId" class="btn btn-primary">
                                Remove
                            </button>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
